In [1]:
import pandas as pd

In [15]:
# The data that were used in the model can be found here: https://osf.io/7mceh/

df = pd.read_hdf("merged_20210405.h5")
print(f"Number of frames: {len(df)}")
df = df[(df['behavior'] != "not_defined")] # not_defined are unlabelled majority classes
print(f"Number of frames after dropping non-labelled frames: {len(df)}")

df.loc[(df['behavior'] == "back_preening") | (df['behavior'] == "front_preening"), 'behavior'] = "preening"
df.loc[(df['behavior'] == "standing_shaking") | (df['behavior'] == "scratch_with_feet"), 'behavior'] = "standing"
df.loc[(df['behavior'] == "body_pump") | (df['behavior'] == "feather_clapping"), 'behavior'] = "fluffing"

Number of frames: 10424241
Number of frames after dropping non-labelled frames: 865548

First 3 characters of the "file_name" column represents the pigeon number. We add on more columns to better represent pigeon ID in each fold

In [16]:
df['pigeon_number'] = df.file_name.str.slice(0, 3)

In total 865548 frames were used. We used 5-fold non-shuffled cross validation. Therefore each fold had 173109 frames approximately.

In [17]:
# First fold: Pigeon 233
df.iloc[0:173109]['pigeon_number'].value_counts()

233    173109
Name: pigeon_number, dtype: int64

In [18]:
# Second fold: Pigeon 233, Pigeon 239 and Pigeon 251
df.iloc[173109:346218]['pigeon_number'].value_counts()

239    78976
251    52017
233    42116
Name: pigeon_number, dtype: int64

In [19]:
# Third fold: Pigeon 251, Pigeon 877, Pigeon 876, Pigeon 418
df.iloc[346218:519327]['pigeon_number'].value_counts()

251    101353
877     43338
876     15591
418     12827
Name: pigeon_number, dtype: int64

In [20]:
# Fourth fold: Pigeon 877
df.iloc[519327:692436]['pigeon_number'].value_counts()

877    173109
Name: pigeon_number, dtype: int64

In [21]:
# Fifth fold: Pigeon 877, Pigeon 889, Pigeon 892
df.iloc[692436:865548]['pigeon_number'].value_counts()

877    160589
889     12042
892       481
Name: pigeon_number, dtype: int64